@import "../../stylesheets/abstracts/mixins";
@import "../../stylesheets/abstracts/functions";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/abstracts/animations";
@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/abstracts/z-index";
@import "../../stylesheets/layout/containers";

.product {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.2);
  &__row {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  &__gallery {
    background: $white;
    padding: 1rem;
    width: 100%;
    @include tablet {
      width: 50%;
    }
    @include laptop {
      width: 30%;
    }
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  &__content {
    background: $white;
    padding: 1rem;
    width: 100%;
    @include tablet {
      width: 50%;
    }
    @include laptop {
      width: 70%;
    }
  }
  &__contributors {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  &__sale {
    span {
      font-weight: 700;
    }
  }
  &__price {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
  }
  &__options {
    margin-bottom: 1rem;
  }
  &__buy {
    margin-bottom: 1rem;
  }
  &__currency {
    padding: 0;
  }
  &__quantity {
    width: 80px;
    padding: 0.5rem;
  }
  &__add {
    padding: 0.5rem;
    cursor: pointer;
  }
}

.contributor {
  &__name {
    font-weight: 700;
  }
}

.tabs {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #efefef;
  &__links {
    display: flex;
    margin-bottom: 1rem;
  }
  &__link {
    line-height: 1;
    button {
      cursor: pointer;
      padding: 0.5rem 1rem;
      background: none;
      border: none;
      border-radius: none;
    }
    &--active {
      button {
        background: #efefef;
      }
    }
  }
}
