@import "./stylesheets/abstracts/variables";

.app {
  background: #efefef;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.breadcrumbs {
  background: $white;
  padding: 1rem;
  padding-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    font-weight: 700;
    &::after {
      content: ">";
      font-weight: 400;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    &--active {
      font-weight: 400;
      &::after {
        content: "";
      }
    }
  }
}
