.app {
}

.breadcrumbs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    font-weight: 700;
    &::after {
      content: ">";
      font-weight: 400;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    &--active {
      font-weight: 400;
      &::after {
        content: "";
      }
    }
  }
}
